<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">

        <form (ngSubmit)="onSubmit()">
          <mat-card>
            <mat-card-title>Registro de operação</mat-card-title>
            <mat-card-content>

              <label>Sigla do ativo</label>
              <input input type="text">

              <label>Valor unitário</label>
              <input input type="text">

              <label>Quantidade</label>
              <input input type="text">

              <label>Data</label>
              <input input type="text">
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Salvar</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>

      <div class="col-lg-8 col-md-6 col-sm-6">
        <mat-card>
          <mat-card-title>PETR4</mat-card-title>
          <mat-card-subtitle>
            <div class="row">
              <div class="col-4 col-md-4 col-sm-4">Qtd: 300</div>
              <div class="col-4 col-md-4 col-sm-4">Preço: R$32,28</div>
              <div class="col-4 col-md-4 col-sm-4">Valor: R$9.684,00</div>
            </div>
          </mat-card-subtitle>
        </mat-card>

        <br/>
        <mat-card>
          <mat-card-title>BBAS3</mat-card-title>
          <mat-card-subtitle>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">Qtd: 300</div>
              <div class="col-lg-4 col-md-4 col-sm-4">Preço: R$32,28</div>
              <div class="col-lg-4 col-md-4 col-sm-4">Valor: R$9.684,00</div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">Dt. compra: 01/10/2017</div>
              <div class="col-lg-4 col-md-4 col-sm-4">Dt. venda: </div>
              <div class="col-lg-4 col-md-4 col-sm-4">Resultado: + 15% (320,00)</div>
            </div>
          </mat-card-subtitle>
        </mat-card>

        <br/>
        <mat-card>
          <mat-card-title>ITSA4</mat-card-title>
          <mat-card-subtitle>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">Qtd: 300</div>
              <div class="col-lg-4 col-md-4 col-sm-4">Preço: R$32,28</div>
              <div class="col-lg-4 col-md-4 col-sm-4">Valor: R$9.684,00</div>
            </div>
          </mat-card-subtitle>
        </mat-card>

        <br/>
        <mat-card>
          <mat-card-title>GOAU4</mat-card-title>
          <mat-card-subtitle>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">Qtd: 300</div>
              <div class="col-lg-4 col-md-4 col-sm-4">Preço: R$32,28</div>
              <div class="col-lg-4 col-md-4 col-sm-4">Valor: R$9.684,00</div>
            </div>
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</div>
